.main{
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 30px; 
}
.circle-container{
    margin: auto;
    width: 500px;
    height: 400px;
    border-radius: 50%;
    background-color: #2F4F4F;
    position: relative;
}
.first-letter{
    font-size: 50px;
    text-transform: capitalize;
    color: black;
    position: absolute;
    left: 232px;
    color: red;
}
.second-letter{
    font-size: 50px;
    text-transform: capitalize;
    color: black;
    position: absolute;
    top: 166px;
    color: aqua;
}
.third-letter{
    font-size: 50px;
    text-transform: capitalize;
    color: black;
    position: absolute;
    top: 308px;
    left: 90px;
    color: blue;
}
.fourth-letter{
    font-size: 50px;
    text-transform: capitalize;
    color: black;
    position: absolute;
    left: 400px;
    top: 300px;
    color: yellow;
}
.fifth-letter{
    font-size: 50px;
    text-transform: capitalize;
    color: black;
    position: absolute;
    left: 463px;
    top: 166px;
    color: white;
}
.circle-container i{
    font-size: 50px;
    position: absolute;
    left: 225px;
    top: 170px;
}
.input-value{
    line-height: 50px;
    text-align: center;
}
.input-value p{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}
.input-value input{
    font-size: 22px;
    text-transform: uppercase;
    outline: none;
    border:2px solid black;
}
.input-value button{
    font-size: 22px;
    text-transform: uppercase;
    background-color: crimson;
    border-color: white;
}
.input-value input:focus{
    border:royalblue solid 2px;
}
#result{
    border: 2px solid blue;
    height: auto;
    width: 350px;
}
#result p{
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: red;
    text-transform: uppercase;
}
#result div{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(243, 16, 141);
}
.score{
    text-align: center;
    font-size: 25px;
    height: auto;
}